


    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-2">
                Pedido: @item.NrPedido
            </div>
            <div class="col-md-5">
                Cliente: @item.NomeCliente
            </div>
            
            <div class="col-md-5">
                Total R$  @item.Total
            </div>
        </div>
          
          
                <ul>
                    @foreach (var produto in item.LinhaPedido)
                    {
                        
                        <li>
                            <div class="row">
                                @produto.Produto
                                @produto.Quantidade
                                @produto.Preco
                                @produto.PrecoTotal()
                            </div>                           
                        </li>

                       
                    }
                </ul>
         
    }


